body, html, h1, h3 {
    padding: 0px;
    margin: 0px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-left: 200px;
    margin-bottom: 0px;

}

.logo {
    height: 80px;
    width: auto;
    border-radius: 100%;
}

.header p {
    margin-left: -385px;
    color: #f9faf8;
    font-size: 24px;
    cursor:pointer
    
}

.himage {
    width: 350px;
    height: auto;
    border-radius: 14%;
    border: solid 4px #3882f6;
}

.menu {
    padding-right: 270px;
}

.menu li {
    display: inline;
    margin: 0 10px;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 600;
    
}
.hero {
    background-color: #1f2937;
    padding-right: 265px;
    display: flex;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 70px;   
    justify-content: space-between;

}

.hero h1 {
    font-size: 32px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
    display: block;
    margin-right: 30px;
}

.hero h3 {
    color: #e5e7eb;
    font-size: 18px;
    display: block;
}

.house {
    height: auto;
    width: 180px;
    border: #3882f6 4px solid;
    border-radius: 12%;
}

.releases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    
}

.releases h1{
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.releases h3{
    font-size: 18px;
    color: #1f2937;
    font-weight: bold;
    padding-top: 10px;
}

.releases-image {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 270px;
    padding-top: 40px;
    cursor: pointer;
}

.house-text {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 270px;

}

.text {
    padding-top: 10px;
    height: 130px;
    width: 190px;
    display: flex;
   justify-content: center;
    
}

.impact-text {
    background-color:#e5e7eb ;
    font-size: 18px;
    font-style: italic;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 270px;
    text-align: justify;
    padding-top: 65px;
    padding-bottom: 65px;
}

.impact-text h3 {
    padding-left: 700px;
    padding-top: 10px;

}

.action {
    display: flex;
    justify-content: space-between;
    border-radius: 6%;
    background-color: #3882f6;
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 270px;
    margin-bottom: 70px;
    border-radius: 4%;
    border-style: hidden;
}

.action button {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
}

.box {
    color: #f9faf8;

}

.box h1 {
    font-size: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
}

.box h3 {
    font-size: 18px;
    padding-bottom: 4px;
    padding-left: 28px;
    font-weight: 600;

}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    border: #f9faf8 2px solid;
    border-radius: 14%;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 18px 8px 18px;
}

.setter {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
   
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

