html, body {
    margin: 0 ;
    padding: 0;
}

.header {
    border: 2px red solid;
    background-color: #1f2937;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 45px 35px 100px;
    color: #e5e7eb;
    font-size: 18px;
   

}

.header p {
    font-size: 24px;
    color: #f9faf8;
    justify-items: flex-start;
    font-weight: bolder;
    margin-right: 150px;
}

.menu li {
    display: inline;
    margin: 0 10px;
}

.logo {
    width: 35px;
    height: 35px;
}

.container {
    border: 2px black solid;
    height: 150px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 45px 35px 100px;
    

}
.item {
    border: 2px white solid;
    color: white;
    height: 150px;
    width: 100%;
    justify-content: center;
    
}

.text {
    display: flex;
    height: 73px;
}

.reports {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.clients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.feedback {
    display: flex;
    height: 80px;
    width: 60px;
    align-items: center;
    border: 2px black solid;

}

.edison {
    background-color:#e5e7eb ;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}